:root {
    --main-bg-dark-blue: hsl(217, 54%, 11%);
    --card-bg-dark-blue: hsl(216, 50%, 16%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --line-color: hsl(215, 32%, 27%);
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-bg-dark-blue);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
}

.master-container {
    margin: 5rem auto;
    max-width: 21.5%;
    min-width: 350px;
    border-radius: 1em;
    padding: 1.5em;
    color: var(--soft-blue);
    background-color: var(--card-bg-dark-blue);
}

/* Setting header and header link styles on a global level */

h2 a, h3 a {
    text-decoration: none;
    color: white;
}

h2 a:hover, h3 a:hover {
    color: var(--cyan)
}

/* NFT Item Image */
.view-image {
    position: absolute;
    top: 42%;
    left: 43.5%;
    opacity: 0;
}

.nft-img-container {
    position: relative;
}

.nft-img-container a {
    display: block;
}

.item-image {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    display: block;
}

.nft-img-container:hover .view-image {
    opacity: 1;
    transition: 2s;
}

/* NFT Description */

.item-description p {
    color: var(--soft-blue);
    font-size: 1.125rem;
    font-weight: 200;
}

/* Item Details, value and timer */

.value-and-timer {
    display: flex;
    justify-content: space-between;
    margin-top: -0.5em;
}

.value-child, .timer-child {
    display: flex;
    justify-content: space-around;
}

.value-child img, .timer-child img {
    max-width: 35%;
    height: 35%;
    margin-top: 1.1em;
}

.value-child {
    color: var(--cyan);
}

.value-child h3, .timer-child h3 {
    margin-left: 0.5em;
    font-size: 1.125rem;
    white-space: nowrap;
}

/* Section divider style*/

hr {
    border: 1px solid var(--line-color);
}

/* Creator details */

.creator {
    display: flex;
    justify-content: start;
}

.creator img {
    border: 0.5px solid white;
    border-radius: 1em;
    max-width: 10%;
    height: 10%;
    margin-top: 1em;
}

.creator h3 {
    font-weight: 200;
    margin-left: 1em;
}

.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
}
.attribution a { 
    color: var(--cyan);
    text-decoration: none;
}

@media (max-width: 375px) {
    .master-container {
        margin: 5em auto;
        min-width: 75%;
    }
}
